# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Состояние блокчейна B-hydra (генерируется при работе CLI)
wallet.key
bhydra_chain.json
qrcode.png

# Среды разработки / IDE (Visual Studio, VS Code, JetBrains)
.vs/
*.sln
*.suo
*.user
*.vsidx
*.lnk
slnx.sqlite
ProjectSettings.json
VSWorkspaceState.json
CppProperties.json
.idea/
.vscode/

# Прочее
*.gch
*.log

# Сборка исполняемых файлов (PyInstaller)
build/
dist/
*.spec
bhydra_contract.json
bhydra_seeds.txt
